.header{
    height: 80px;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: larger;
}

.navbar{
    margin: 10px 0px;
    display: flex;
    background-color: gray;
}

.nav{
    width: 400px;
    height: 20px;
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-between  ;
}

.content{
    height: 350px;
    width: 60vw;
    background-color: gray;
    margin: 10px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.more-content{
    background-color: gray;
    margin: 10px 0px;
    width: 37vw;
    height: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.footer{
    height: 100px;
    width: 99%;
    background-color: gray;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: larger;
}


