*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: lightgrey;
}

.side{
    width: 35%;
    height: 100vh;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar{
    color: white;
    padding-bottom: 50px;
}

.menu{
    display: flex;
    flex-direction: column;
}

.nav-item{
    display: inline-block;
    margin-bottom: 15px;
    color: white;
    font-size: 25px;
    position: relative;
    cursor: pointer;
}




.nav-item::before{
    content: "";
    margin-bottom: -2px;
    width: 25%;
    height: 4px;
    background-color: red;
    position: absolute;
    bottom: 0;
    border-radius: 3px;
}


.nav-item:hover::before{
    width: 100%;
    transition: 0.3s ease;
}