*{
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.vilyam{

    position: relative;
    background-color: #262626;

    width:620px;
}
.vilyam .litvil{
    position: absolute;
    left: 0;
    
bottom:15%;
  background-color: #167A85;
  color: white;
  padding: 15px 35px;
}
.vilyam .litvil span{
  margin-left: 10px;
  font-size:25px ;
  font-weight: 600;
}
 .vilyam .vilbottom{
  background-color: #262626;

  padding: 15px 30px;

} 
.vilyam  h3{
  font-weight: 500;
  color: white;

}
/* .vilyam img{
  position: relative;
} */
.vilyam .left{
position: absolute;
bottom:50%;
left:5px;
 

}
.vilyam .right{
position: absolute;
bottom:50%;
right: 5px;



}
i{
  color: white;
  font-size: 55px;
  font-weight: 700;
}